<Directory "tests">
Order Allow,Deny
Allow from all
</Directory>


<Files "composer.json">
Order Allow,Deny
Deny from all
</Files>

<FilesMatch "(conf.php|.htaccess|error_log)$">
    Deny from all
</FilesMatch>